<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/index.css" />

    <ul>
      <div class="home-space">
        <li><a class="active home-btn" href="#home">Home</a></li>
      </div>

      <li><a href="#news" class="login-btn">Stock</a></li>
      <li><a href="#contact " class="contact-btn">About</a></li>
      <li><a href="#about " class="about-btn">SignUp</a></li>
    </ul>
    <title>Document</title>
  </head>
  <body>
    <h1>Director Sign Up</h1>
    <div class="space-around-manager-login">
      <div class="manager-login">
        <h4>Please enter your login details</h4>
        <form action="" id="myForm">
          <div class="imgcontainer">
            <img src="/public/images/flowers.jpg" alt="Avatar" class="avatar" />
          </div>
          <div>
          <label for="fname">First Name</label><br />
          <input type="text" id="firstName" name="fname" value="" /><br />
          <br />
          <small id="firtNameError"></small>
        </div>
        <div>
          <label for="fname">Second Name:</label><br />
          <input type="text" id="secondName" name="Sname" value="" /><br />
          <br />
          <small id="secondNameError"></small>
        </div>
        <div>
          <label for="email">Email:</label><br />
          <input type="email" id="email" name="email" value="" /><br />
          <br />
          <small id="emailError"></small>
        </div>
        <div>
          <label for="lname">Password:</label><br />
          <input
            type="password"
            id="password"
            name="password"
            value=""
          /><br /><br />
          <small id="passwordError"></small>
        </div>
        <div>
          <label for="confirmPassword">Confirm Password:</label><br />
          <input type="password" id="confirmPassword" name="confirmPassword" value="" /><br />
          <br />
          <small id="confirmPasswordError"></small>
        </div>
        <div>
          <label for="d.o.b">Date of Birth:</label><br />
          <input
            type="date"
            id="password"
            name="password"
            value=""
          /><br /><br />
        </div>
        <div>
          <label for="lname">National ID Number:</label><br />
          <input
            type="text"
            id="ninNumber"
            name="ninNumber"
            value=""
          /><br /><br />
          <small id="ninNumberError"></small>
        </div>
        <div>
          <label for="lname">Marital Status:</label><br />
          <select name="maritalStatus" id="maritalStatus" form="produceName">
            <option value="Single">Single</option>
            <option value="Married">Married</option>
            <option value="Divorced">Divorced</option>
            <option value="Widow/Widwer">Widow/Widower</option>
          </select>
        </div>
        <div>
          <label for="phone">Phone Number:</label><br />
          <input
            type="text"
            id="phone"
            name="phone"
            value=""
          /><br /><br />
          <small id="phoneError"></small>
        </div>
          <input type="submit" value="Submit"  id="submitButton"/>
          <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
          </label>

          <div class="lower-login-section" style="background-color: #f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="password">Forgot <a href="#">password?</a></span>
            <span class="create-account"
              >Have no account? <a href="#"> Create One</a></span
            >
          </div>
        </form>
      </div>
    </div>
    <script src="/public/js/signUpValidation.js">
    </script>
  </body>
</html>
